<!DOCTYPE html>
{% extends "base.html" %}
{% block body_block %}

	<header>
		<h1>PEMEX Recommendation Compliance Tracking</h1>
  </header>

    <ul>
        <li><a href="{% url 'upload' %}" >Upload</a></li>
        <li><a class="active">Assign</a></li>
        <!-- <li><a> Documentation</a></li> -->
    </ul>


    <div class="main-content">

        <form class="form-labels-on-top" method="post" action="#">

            <div class="form-title-row">
                <h1>Select Specific Relevant Entries)</h1>
            </div>

            <div class="form-row">
              <!-- DataTables Example -->
  	          <div class="card mb-3">
  	              <div class="table-responsive">
  	                <table class="table table-borderless table-striped" id="dataTable" width="100%" cellspacing="0">
  	                  <thead>
  	                    <tr>
  	                      <th>Installation</th>
  	                      <th>Recommendation</th>
  	                      <th>Verification Action</th>
  	                      <th>Compliance Criteria</th>
  	                      <th>Evidence</th>
                          <th>Include?</th>
  	                    </tr>
  	                  </thead>
  	                  <tbody>
  	                    <tr>
  	                      <td>"AAA"</td>
  	                      <td>"2.3 a"</td>
  	                      <td>"Verify that something happened."</td>
  	                      <td>"Check that the compliance criteria have been satisfied."</td>
  	                      <td>"2 documents"</td>
                          <td>
                              <input type="checkbox" name="checkbox" unchecked>
                          </td>
  	                    </tr>
                        <tr>
                          <td>"AAB"</td>
                          <td>"2.3 a"</td>
                          <td>"Verify that something happened."</td>
                          <td>"Check that the compliance criteria have been satisfied."</td>
                          <td>"2 documents"</td>
                          <td>
                              <input type="checkbox" name="checkbox" unchecked>
                          </td>
                        </tr>
                        <tr>
                          <td>"AAA"</td>
                          <td>"2.3 a"</td>
                          <td>"Verify that something else happened."</td>
                          <td>"Check that the other compliance criteria have been satisfied."</td>
                          <td>"2 documents"</td>
                          <td>
                              <input type="checkbox" name="checkbox" unchecked>
                          </td>
                        </tr>
                        <tr>
                          <td>"AAB"</td>
                          <td>"2.3 b"</td>
                          <td>"Verify that something else happened."</td>
                          <td>"Check that the other compliance criteria have been satisfied."</td>
                          <td>"2 documents"</td>
                          <td>
                              <input type="checkbox" name="checkbox" unchecked>
                          </td>
                        </tr>
  	                  </tbody>
  	                </table>
  	              </div>
  	            </div>
            </div>

            <div class="form-row">
                <button onclick="location.href = '{% url 'inputs' %}'" type="button">Submit Form</button>
            </div>

        </form>

    </div>
  {% endblock %}
