<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
	{% if submitted %}
		<p>Status updated.</p>
		<p><a href="{% url 'home' %}">home</a></p>
	{% else %}
		<form action="" method="post" novalidate>
		<table>
			<tr>
				<td>Item ID</td>
				<td>{{ itemid }}</td>
			</tr>
			<tr>
				<td>Installation</td>
				<td>{{ installation }}</td>
			</tr>
			<tr>
				<td>Recommendation</td>
				<td>{{ rec_id }}</td>
				<td>{{ recommendation}}</td>
			</tr>
			<tr>
				<td>Criteria</td>
				<td>{{ crit_id }}</td>
				<td>{{ criteria }}</td>
			</tr>
			{{ updateform.as_table }}
			<tr>
				<td>&nbsp;</td>
				<td><input type="submit" value="Submit"></td>
			</tr>
		</table>
		{% csrf_token %}
		</form>
	{% endif %}
</body>
</html>
