{% load render_table from django_tables2 %}
<!DOCTYPE html>
{% extends "base.html" %}
{% block body_block %}

	</head>


	<header>
		<h1>PEMEX Recommendation Compliance Tracking</h1>
	</header>

	<ul>
		<li><a href = "{% url 'upload' %}" >Upload</a></li>
		<li><a href = "{% url 'assign' %}" >Assign</a></li>
		<li><a class="active">Documentation</a></li>
	</ul>

	<div class="main-content">

		<form class="form-labels-on-top" method="post" action="#">

			<div class="form-title-row">
				<h1>Update Verification Status</h1>
			</div>

			<!-- Items Table Goes Here -->
			{% render_table itemstable %}
	</div>


	<!-- <div class="form-row">
	 <button onclick="location.href = 'Main.html';" type="button">Submit Form</button>
	 </div> -->

		</form>
		<!-- Button trigger modal -->


		<!-- Modal -->
		<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form class="form-mini" method="post" action="#">

							<div class="form-row">
								<label><span> Installation </span></label>
								<p>{{ item.installation }}</p>
							</div>
							<div class="form-row">
								<label><span> Recommendation </span></label>
								<p>2.3 a</p>
							</div>
							<div class="form-row">
								<label><span> Verification Action </span></label>
								<p>Verify that something happened.</p>
							</div>
							<div class="form-row">
								<label><span> Conformance Criteria </span></label>
								<p>Check that the compliance criteria have been satisfied.</p>
							</div>
							<div class="form-row">
								<label><span> Applicability </span></label>
								<select name="dropdown" placeholder="Select Applicability">
									<option>Option One</option>
									<option>Option Two</option>
									<option>Option Three</option>
									<option>Option Four</option>
								</select>
							</div>
							<div class="form-row">
								<label><span> Status </span></label>
								<select name="dropdown" placeholder="Select Status">
									<option>Option One</option>
									<option>Option Two</option>
									<option>Option Three</option>
									<option>Option Four</option>
								</select>
							</div>
							<div class="form-row">
								<label><span> Comment </span></label>
								<input type="text" name="comment">
							</div>

							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
								<button type="button" class="btn btn-primary" data-dismiss="modal">Submit Changes</button>
							</div>
					</div>
				</div>
			</div>


		</div>
  {% endblock %}
