<!DOCTYPE html>
{% load render_table from django_tables2 %}
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->

		<!-- <link rel="stylesheet" href="css/main.css"> -->
		<!-- <link rel="stylesheet" href="css/form-login.css"> -->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

		<!-- Bootstrap CSS -->

		<link rel="stylesheet" href="css/main.css">
		<!-- <link rel="stylesheet" href="css/form-basic.css"> -->
		<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->



		<title>PEMEX Recommendation Compliance Tracking</title>

	</head>


	<header>
		<h1>PEMEX Recommendation Compliance Tracking</h1>
	</header>

	<ul>
		<li><a href = "{% url 'upload' %}" >Upload</a></li>
		<li><a href = "{% url 'assign' %}" >Assign</a></li>
		<li><a class="active">Documentation</a></li>
	</ul>

	<div class="main-content">

		<form class="form-labels-on-top" method="post" action="#">

			<div class="form-title-row">
				<h1>Update Verification Status</h1>
			</div>

			<!--Items Table goes here -->
			{% render_table itemstable %}
			
	</div>
	</div>


	<!-- <div class="form-row">
	 <button onclick="location.href = 'Main.html';" type="button">Submit Form</button>
	 </div> -->

		</form>
		<!-- Button trigger modal -->


		<!-- Modal -->
		<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form class="form-mini" method="post" action="#">

							<div class="form-row">
								<label><span> Installation </span></label>
								<p>{{ item.installation }}</p>
							</div>
							<div class="form-row">
								<label><span> Recommendation </span></label>
								<p>2.3 a</p>
							</div>
							<div class="form-row">
								<label><span> Verification Action </span></label>
								<p>Verify that something happened.</p>
							</div>
							<div class="form-row">
								<label><span> Conformance Criteria </span></label>
								<p>Check that the compliance criteria have been satisfied.</p>
							</div>
							<div class="form-row">
								<label><span> Applicability </span></label>
								<select name="dropdown" placeholder="Select Applicability">
									<option>Option One</option>
									<option>Option Two</option>
									<option>Option Three</option>
									<option>Option Four</option>
								</select>
							</div>
							<div class="form-row">
								<label><span> Status </span></label>
								<select name="dropdown" placeholder="Select Status">
									<option>Option One</option>
									<option>Option Two</option>
									<option>Option Three</option>
									<option>Option Four</option>
								</select>
							</div>
							<div class="form-row">
								<label><span> Comment </span></label>
								<input type="text" name="comment">
							</div>

							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
								<button type="button" class="btn btn-primary" data-dismiss="modal">Submit Changes</button>
							</div>
					</div>
				</div>
			</div>


		</div>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

		</body>

</html>
