<!DOCTYPE html>
<form class="form-labels-on-top" method="post" action="#">

    <div class="form-title-row">
        <h1>Select Relevant Categories</h1>
    </div>

    <div class="form-row">
    <div class="form-column">
        <label>
            <span>Installation</span>
            <select name="dropdown">
                <option>Option One</option>
                <option>Option Two</option>
                <option>Option Three</option>
                <option>Option Four</option>
            </select>
        </label>
    </div>
    <div class="form-column">
        <label>
            <span>Recommendation</span>
            <select name="dropdown">
                <option>Option One</option>
                <option>Option Two</option>
                <option>Option Three</option>
                <option>Option Four</option>
            </select>
        </label>
    </div>
    <div class="form-column">
        <label>
            <span>Verification Action</span>
            <select name="dropdown">
                <option>Option One</option>
                <option>Option Two</option>
                <option>Option Three</option>
                <option>Option Four</option>
            </select>
        </label>
    </div>
    <div class="form-column">
        <label>
            <span>Conformance Criteria</span>
            <select name="dropdown">
                <option>Option One</option>
                <option>Option Two</option>
                <option>Option Three</option>
                <option>Option Four</option>
            </select>
        </label>
    </div>
  </div>
    <div class="form-row">
        <button type="submit">Refresh Filter</button>
    </div>
</form>
