<!DOCTYPE html>
{% extends "base.html" %}
{% block body_block %}

	</head>


	<header>
		<h1>PEMEX Recommendation Compliance Tracking</h1>
	</header>

	<ul>
		<li><a href = "{% url 'upload' %}" >Upload</a></li>
		<li><a href = "{% url 'assign' %}" >Assign</a></li>
		<li><a class="active">Documentation</a></li>
	</ul>

	<div class="main-content">

		<form class="form-labels-on-top" method="post" action="#">

			<div class="form-title-row">
				<h1>Update Verification Status</h1>
			</div>

			<!-- DataTables Example -->
			<div class="card mb-3">
				<div class="table-responsive">
					<table class="table table-borderless table-striped" id="dataTable" width="100%" cellspacing="0">
						<thead>
							<tr>
								<th>Installation</th>
								<th>Recommendation</th>
								<th>Compliance Criteria</th>
							</tr>
						</thead>
						<tbody>
							{% if items %}
							{% for item in items|slice:":100" %}
							<tr>
								<td>{{ item.installation }}</td>
								<td>{{ item.recommendation }}</td>
								<td>{{ item.criteria }}</td>
								<td>
									<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
										Update Status
									</button>
								</td>
							</tr>
							{% endfor %}
							{% endif %}
						</tbody>
					</table>
				</div>
			</div>
	</div>
	</div>


	<!-- <div class="form-row">
	 <button onclick="location.href = 'Main.html';" type="button">Submit Form</button>
	 </div> -->

		</form>
		<!-- Button trigger modal -->


		</div>
  {% endblock %}
